<div class = "row">

<div class = "large-12 columns">
<h1>All accounts</h1>
<% @accounts.each do |account| %>

<div>

<h3><%= account.name %></h3>
<h4><%= account.amount %></h4>
<%= link_to 'Show', account_path(account) %>
<%= link_to 'Transfer', new_account_transfer_path(account) %>


<%= link_to 'Edit', edit_account_path(account) %>
<%= link_to 'Destroy', account_path(account), method: :delete, data:{confirm: 'Are you sure?'} %>
</div>


<% end %>
<%= link_to 'New Account', new_account_path %>



</div>
</div>
